.project-container {
    display: block;
    margin: 1em auto;
    text-align: center;
    width: 100%;
}

.project-title {
    display: inline-block;
    font-size: 2.8em;
    font-weight: 600;
    text-transform: uppercase;
}

.project-title::after {
    content: " ";
    display: block;
    width: 100%;
    background-color: black;
    height: 4px;
}

.project-title::before {
    content: " ";
    display: block;
    width: 100%;
    background-color: black;
    height: 4px;
}

.projects {
    font-size: 1em;
    padding-top: 2em;
    text-align: center;
}



