.button-container {
    float: right;
    margin: 0;
}

.button-submit {
    padding: 1em;
    border-radius: 10px;
    border: 1px solid black;
}

.button-submit:focus {
    outline: none;
}

.button-submit:hover {
    background-color:#0077FF;
    color: white;
    transition: all ease-in-out 200ms;
    border: none;
}

.button-submit a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}


