.thmnl-container {
    display: inline-block;
    margin: 2em;
    line-height:4em;
    box-shadow: 0 1px 4px 1.5px rgba(100,100,100,0.2);
    padding: 3em 5em;
    border-radius: 5px;
    line-height: 2em;
}

.thmnl-name {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 1.2em;
}

.thmnl-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
    
}

div p {
    text-align: center;
    font-weight: 300;
    padding: 0;
    margin: 0;
    
}